.header{
    width: 100%;
    height: 50px;
}
.mainDiv{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;  
}
.addContactBtn{
    height: 40px;
    color: white;
    background-color: rgba(1, 81, 128, 0.905);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    padding: 0px 10px;
    border: 2px solid black;
}
.searchBar{
    width: 60%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border: 1px solid black;
}
.searchInput{
    width: 84%;
    height: 30px;
    padding: 0;
    border: none;
    padding-left: 15px;
}
.searchBtn{
    width: 16%;
    height: 30px;
    border: none;
    background-color: rgba(130, 163, 186);
    font-weight: bold;
    color: black;
}