.landingPage{
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../../public/images/background-img.jpg"), no-repeat;
    background-size: cover;
    opacity: 0.3;
}
.content{
    position: fixed;
    width: 40%;
    top: 30%;
    left: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contactUs{

    margin: 0;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.getStarted{
    padding: 10px 35px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    border: none;
    background-color: rgba(251, 118, 69, 0.886);
    margin-top: 20px;
    border-radius: 6px;
}

.home-link{
    color: aliceblue;
    text-decoration: none;
    font-weight: 600;
}
.getStarted :hover{
    color: rgba(0, 0, 255, 0.784);
}

@media screen and (max-width: 1250px) {
    .content {
        width: 50%;
        left: 45%;
    }
}
@media screen and (max-width: 1070px) {
    .content {
        top: 40%;
        width: 70%; 
        left: 15%;
        
    }
    .landingPage{
        opacity: 0.24;
    }
    .contactUs {
        font-size: 26px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    .text {
        font-size: 14px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
}
@media screen and (max-width: 768px) {
    .content {
        width: 90%;
        left: 5%;
        top: 50%;
    }
    .contactUs {
        font-size: 22px;
        
    }
    .text {
        font-size: 12px;
    }
    .getStarted {
        padding: 8px 20px;
        font-size: medium;
    }
}


